<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img class="img-responsive" src="./../../assets/logo.png" alt="" />
            </div>
            <div class="col-md-4">
                <p><a href="#">Home</a> | <a href="#work">works</a> | <a href="#team">Team</a> | <a href="#contact">Contact</a></p>
            </div>
            <div class="col-md-4">
                <div class="social">
                    <a href="#"><i class="fab fa-facebook-square"></i></a>
                
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-dribbble"></i></a>
                    <a href="#"><i class="fab fa-linkedin"></i></a>
                    <a href="#"><i class="fab fa-google-plus"></i></a>
                </div>
                <p class="copy-right">Copyright &copy; 2021</p>
                <p>All rights reserved. </p>
            </div>
        </div>
    </div>
</footer>
