<!-- The Modal -->
<mat-card>
        <!-- Modal Header -->
        <mat-card-header>
          <h1 class="mat-h1">Bankruptcy</h1>
        </mat-card-header>
  
        <!-- Modal body -->
        <mat-card-content> Chapter 7 bankruptcy has numerous rules -- and exceptions to those rules -- about what kinds of debts are covered, who can file, and what property you can and cannot keep.        <br>
        Chapter 7 bankruptcy can be filed by individuals (called a &quot;consumer&quot; Chapter 7 bankruptcy) or businesses (called a &quot;business&quot; Chapter 7 bankruptcy). A Chapter 7 bankruptcy typically lasts three to six months.     
        </mat-card-content>
        <!-- Modal footer -->
        <mat-card-actions>
            <button class="close" mat-button mat-dialog-close>X</button>
        </mat-card-actions>
  
      <!-- </div>
    </div> -->
</mat-card>
