
    <div class="container">
        <div class="submit-form" *ngIf="!isSubmitted">
            <form [formGroup]="contactForm" (ngSubmit)="sendEmail()">
                <div>
                    <mat-form-field appearance="outline"  [floatLabel]="floatLabelControl.value">
                        <mat-label>Subject</mat-label>
                        <input matInput placeholder="Subject" type="text" formControlName="subject">
                    </mat-form-field>
                </div>
                <div >
                    <mat-form-field appearance="outline"  [floatLabel]="floatLabelControl.value">
                        <mat-label>Name</mat-label>
                        <input  matInput  type="text" formControlName="contact_name">
                    </mat-form-field>
                    <mat-error *ngIf="contactForm.controls.contact_name.touched && contactForm.controls.contact_name.errors">Name is required</mat-error>
                </div> 
                <div >
                    <mat-form-field appearance="outline" [floatLabel]="floatLabelControl.value">
                        <mat-label>Email</mat-label>
                    <input  matInput  type="text" formControlName="contact_email">
                    </mat-form-field>
                    <mat-error *ngIf="contactForm.controls.contact_email.touched && contactForm.controls.contact_email.errors">Email is required</mat-error>
                </div>
                <div >
                    <mat-form-field appearance="outline" [floatLabel]="floatLabelControl.value">
                    <mat-label for="query">Message</mat-label>
                    <input matInput type="text" formControlName="contact_question" >
                    </mat-form-field>
                    <div *ngIf="isSubmitted && contactForm.controls.contact_question.errors" [ngClass]="{ 'alert-danger': isSubmitted && contactForm.controls.contact_question.errors }">Message is required</div>
                </div>
                <div >
                    <div class="col-md-4">
                        <input class="btn btn-primary" [disabled]="contactForm.invalid" type="submit" 
                            value="Send Message">
                    </div>
                </div>
            </form>
            <div>
                {{contactForm.value | json}}
            </div>
            <div>
                {{contactForm.valid}}
            </div>
        </div>
        <div *ngIf="isSubmitted">
            <hs>You successfully send a message!</hs>
            <!-- <button class="btn btn-success" (click)="newMatter()">New...</button> -->
        </div>
    </div>
   
            
