<div class="contact" id="contact">
    <div class="container">
        <div class="submit-form" *ngIf="!isSubmitted">
            <form [formGroup]="contactForm" (ngSubmit)="sendEmail()">
                <div class="form-group">
                    <label for="subject">Subject</label>
                    <input type="text" formControlName="subject">
                </div> 
               <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" formControlName="contact_name">
                    <div *ngIf="isSubmitted && contactForm.controls.contact_name.errors" [ngClass]="{ 'alert-danger': isSubmitted && contactForm.controls.contact_name.errors }">Email is required</div>
                </div> 
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" formControlName="contact_email">
                    <div *ngIf="isSubmitted && contactForm.controls.contact_email.errors" [ngClass]="{ 'alert-danger': isSubmitted && contactForm.controls.contact_email.errors }">Email is required</div>
                </div>
                <div class="form-group">
                    <label for="query">Message</label>
                    <input type="text" formControlName="contact_question" >
                    <div *ngIf="isSubmitted && contactForm.controls.contact_question.errors" [ngClass]="{ 'alert-danger': isSubmitted && contactForm.controls.contact_question.errors }">Message is required</div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <input class="btn btn-primary" [disabled]="contactForm.invalid" type="submit" 
                            value="Send Message">
                    </div>
                </div>
            </form>
            <div>
                {{contactForm.value | json}}
            </div>
            <div>
                {{contactForm.valid}}
            </div>
        </div>
        <div *ngIf="isSubmitted">
            <hs>You successfully send a message!</hs>
            <!-- <button class="btn btn-success" (click)="newMatter()">New...</button> -->
        </div>
    </div>
    <div class="container">
        <!-- default heading -->
        <div class="default-heading">
            <!-- heading -->
            <h2>Contact Us</h2>
            <!-- paragraph -->
        </div>

    
        <!-- contact container -->
        
            <!-- <div class="row">
                <div class="col-md-5 col-sm-6">
                   
                    <h3>Contact Form</h3>
                    <form role="form" id="contactForm" method="post">
                        <div class="form-group">
                            <label for="contactName">Name</label>
                            <input class="form-control" type="text" id="contactName" name="contactName"placeholder="Enter Name" />
                        </div>
                        <div class="form-group">
                            <label for="contactEmail">Email</label>
                            <input class="form-control" type="email" id="contactEmail" name="contactEmail" placeholder="Enter Email" />
                        </div>
                        <div class="form-group">
                            <label for="contactMessage">Message</label>
                            <textarea class="form-control" id="contactMessage" name="contactMessage" rows="3" placeholder="Enter Message"></textarea>
                        </div>
                        <div class="form-group">
                            <button type="submit" name="submit" id="submit" class="btn btn-default">Send Message</button>
                        </div>
                    </form>
                </div> -->
                
                <div class="col-md-3 col-sm-6">
                    <!-- heading -->
                    <h3>Address</h3>
                    <!-- paragraph -->
                    <p class="address">Address</p>
                        <br>
                    <!-- heading -->
                    <h3>Phone</h3>
                    <!-- paragraph -->
                    <p class="address"></p>
                        <br>
                    <!-- heading -->
                    <h3>Email</h3>
                    <!-- paragraph -->
                    <p class="address"><a href="#">info@azdocsninja.com</a></p>
                </div>
                <!-- <div class="col-md-4">
                    <img class="img-responsive map" src="../../assets/map.jpg" alt="map" />
                </div> -->
            </div>
      
</div>
