@font-face {
  font-family: AssassinNinja-7BYyR;
  src: url("./../../assets/fonts/AssassinNinja-7BYyR.ttf");
}

.banner {
  text-align: center;
  // margin-top: 105px;
  height: 80px;
  background-repeat: no-repeat;
  background-color: #c21d23;
  border-top: 15px black solid;
  border-bottom: 15px black solid;
}

.banner h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 28px;
  line-height: 35px;
  color: #eee;
  text-transform: capitalize;
}
.banner h3 {
  margin-top: 20px;
  margin-bottom: 25px;
  font-size: 20px;
  line-height: 25px;
  color: #ddd;
  text-transform: uppercase;
  letter-spacing: 0.055em;
}

.banner .btn {
  padding: 7px 25px;
  font-size: 14px;
  border-radius: 30px;
}

.banner p {
  color: #fff;
  font-family: AssassinNinja-7BYyR;
  font-size: xx-large;
  line-height: 1.65em;
  margin-bottom: 5px;
}
